body {
    padding: 2rem;
    /* box-sizing: border-box; */
}

.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.input-button {
    display: flex;
    font-family: "OpenSans";
    gap: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.but{
    padding: 0.8rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.confirm-but {
    background-color: #2627cf;
}

.cancel-but {
    background-color: #000000;
}

.input-text {
    border: none;
    box-sizing: border-box;
    background-color: #191cd8;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    outline: 0;
    
    transition: all 0.3s ease-in-out;
}

.input-text::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
}

.input-focus {
    width: 20rem;
    background-color: #fff;
    border: 1px solid #191cd8;
    border-radius: 2rem;
    color: #191cd8;
    cursor: text;
}

/* 待办事项列表 */
.todo-area {
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: bold;
    /* letter-spacing: 8px; */
}

.todo-num {
    opacity: 0.5;
}

.todo-card-container {
    margin-top: 1rem;
}
.todo-card {
    height: 15rem;
    width: 15rem;
    border-radius: 1.4rem;
    background-color: aliceblue;
    padding: 2rem;

}

.edit-block {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500; 
    outline: 0;
}

.icons-bar {
    display: flex;
    flex-direction: ro;
    align-items: center;
    
}

.card-orange{
  background-color:#E8A281;
}
.card-qing{
  background-color:#5FCFF1;
}
.card-green{
  background-color:#E1E79F;
}

.card-yellow{
  background-color:#EEC984;
}
.card-purple{
  background-color:#B39AEE;
}


